.experiences-section .timeline .row:nth-child(2n) div:nth-child(1) .corner{
    top: calc(-50% - 0.5px);
}

.experiences-section .timeline .row:nth-child(4n) div:nth-child(3) .corner{
    top: calc(-50% - 0.5px);
}

.experiences-section .timeline .row:nth-child(4n) div:nth-child(1) .corner{
    top: calc(50% - 3px);
}

@media screen and (max-width: 768px) {
    .experiences-section .timeline .row:nth-child(2n) div:nth-child(1) .corner {
        left: calc(50% + 1.5px);
    }

    .experiences-section .timeline .row:nth-child(4n) div:nth-child(3) .corner {
        left: calc(-50% - 1.5px);
    }
}